<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArlKHUwsDi8s1nElwu07jW9F_6fgu7qTM</string>
	<key>GCM_SENDER_ID</key>
	<string>868142073986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterInstagramClone.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-instagram-clone-227f8</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-instagram-clone-227f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868142073986:ios:f2d6ea1c2cd5b915414c9b</string>
</dict>
</plist>